modules = ["python-3.12", "cpp-clang14", "c-clang14", "web"]
run = "python -m streamlit run main.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python -m streamlit run main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80

[[ports]]
localPort = 8502
externalPort = 3000
